{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .border-right {
        border-right: 4px solid Silver;
        
    }
  
</style>
<div class="row">
    <div class="col-lg-10 border-right p-3">
        <h1 class="text-center ">{{ ticket.order_id }}</h1>
        <hr style="height:2px; border: 1px;  background-color:Silver">
        <p>Description: {{ ticket.description }}</p>

        {% if ticket.post_image %}
            <a class="p-3" href="{{ticket.post_image.url}}" target="_blank"><p>Attched File</p></a>
        {% endif %}
        <hr style="height:5px; border: 1px;  background-color:Silver">
        {% comment %} <h2 class="text-center">Comments</h2> {% endcomment %}

        <div >
            <div class="comments" >
            {% for comment in comments %}
                <div class="text-end">
                    <span class="text-end  font-weight-normal">
                        {% if comment.user == user %}
                        You Added Comment @  <small class="text-muted"> {{ comment.created }}</small>
                        {% else %}
                        {{ comment.user }}  Added Comment  @  <small class="text-muted"> {{ comment.created }}</small>
                        {% endif %}
                    </span>
                    

                    <p class="text-end pt-3">
                        {{ comment.comment }}
                    </p>
                    {% if comment.comment_image%}
                        <a   href="{{comment.comment_image.url}}" target="_blank"> <p class="text-end ">Attched File</p></a>
                    {% endif %}
                        <hr style="height:5px; border: 1px;  background-color:Silver">
                
                </div>
        
            {% endfor %}
        </div>
        <form method="POST" enctype="multipart/form-data">
        
            {% csrf_token %}
            {{ form | crispy }}
                
            <button type="submit" class="btn btn-primary  btn-sm">Add Comment</button>
        </form> 
    </div>
</div>


    {% if request.user.is_courier %}
        
    {% else %}
    <div class="col-lg-2 p-3 ">
        <div id="viewers-container">
            {% include "detail_ajax.html" %}
          </div>

        {% comment %} {% if viewers %}
            {% for v in viewers %}
            <p>Currently viewing: {{ v.user }}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
        <p>Created by:  {{ ticket.owner }}</p>
        <p>Status: {{ ticket.status }}</p>
        <p>Assigned To: {{ ticket.assigned_to }}</p>
        {% if request.user.is_superuser or request.user.is_wh_manager or request.user.is_manager%}
            {% include 'main/ticket_update_warehouse_form.html'%}
        {% else %}
            <p>Warehouse: {{ ticket.warehouse }}</p>
        {% endif %}
        
        {% if request.user.is_superuser or request.user.is_wh_manager or request.user.is_manager or request.user.is_team_leader%}
            <hr style="height:5px; border: 1px;  background-color:Silver">
            {% include 'main/ticket_update_tag_form.html' %}
        {% else %}
        <p>Tag To: {{ ticket.tag_to }}</p>
        {% endif %}
        <hr style="height:5px; border: 1px;  background-color:Silver">
        <p> Histroy Comming Soon.... </p>
    </div>
    {% endif %}
</div>


{% comment %} Code for updateing viewlist {% endcomment %}
{% comment %} <script>  

    function updateViewers() {
        jQuery.ajax({
            url: '/api/ticket_viewers/{{ ticket.pk }}/',
            dataType: "json",
            type: 'GET'
        }).done(function(data) {
            jQuery('.viewer').remove(); // remove the existing viewers
            jQuery.each(data, function(index, viewer) {
                var viewerSpan = jQuery('<span>').addClass('viewer').text(viewer.user);
                if (index < data.length - 1) {
                    viewerSpan.append(', ');
                }
                jQuery('#viewers-container p').append(viewerSpan);
            });
        }).fail(function() {
            console.log('Error updating viewers');
        });
    }
    
    // call the function every 5 seconds
    setInterval(updateViewers, 5000);
</script> {% endcomment %}
{% endblock %}
