{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load my_filters %}

{% block title %}Inbox{% endblock %}

{% block content %}

<form method="get" action="{% url 'inbox' %}" class="form-inline p-4 text-end ">
  <div class="form-group ">
    {{ filter_form.status }}
    {{ filter_form.tag_to }}
    <button type="submit" class="btn btn-sm btn-success">Filter</button>
  </div>  
</form>



<p class="text-end fw-bold">Total tickets Found: {{ ticket_count }}</p>
<p>open {{open_count}}</p>
<p>Last_Mile {{tag_to_count}}</p>



<div class="page-header"><h1 class="mt-3 text-center" >All Tickets <i class="fa-sharp fa-solid fa-square-envelope"></i></h1></div>


<table class="table table-striped">
  <thead>
    <tr class ="text-center">
      <th>Order ID</th>
      <th>Created By</th>
      <th>Tag To</th>
    
      <th>Status</th>
      <th>Warehouse</th>
 

      <th>Assigned To</th>

      <th>Updated</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}

    <tr class ="text-center">
      
        <td><a class=" text-decoration-none" href="{% url 'ticket_detail' ticket.id %}">{{ ticket.order_id }} </a></td>
        <td>{{ ticket.owner }}</td>
        <td>{{ ticket.tag_to }}</td>
      
        <td><span class="badge {{ ticket.status|status_class }} ">{{ ticket.status }}</span></td>
        <td>{{ ticket.warehouse }}</td>     
        <td>{{ ticket.assigned_to }}</td>
        <td>{{ ticket.updated }}</td>
        <td>{{ ticket.tag }}</td>
      </a>
      </tr>
        {% empty %}
        <p> There is no tickets in this view </p>
    {% endfor %}
  </tbody>
</table>




{% comment %} 

<div class="row ">
    {% for ticket in tickets %}

    <div class="col-sm-6 p-2">
      <div class="card ">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title">{{ ticket.order_id }}</h5>
            </div>
            <div>
                <p class="text-center">Created by: {{ ticket.owner }}</p>
              </div>
              <div>
                <p class="text-center"> Status: {{ ticket.status }}</p>
              </div>
              
            <div>
              <p class="text-right">Created At: {{ ticket.updated | timesince}}</p>
            </div>
          </div>
          <p class="card-text text-truncate">{{ ticket.description }}</p>
          <a class="btn btn-primary text-decoration-none" href="{% url 'ticket_detail' ticket.id %}">Replay</a>
          <a href="#" class="btn btn-secondary">Reassign</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
   {% endcomment %}
  

{% endblock %}
