{% extends "base.html" %}
{% load crispy_forms_tags %}
{% comment %} {% block header_icon %}<i class="fa fa-pencil-square-o fa-5x"></i>{% endblock %} {% endcomment %}
{% comment %} {% block headline %}Ticket #{{ticket.id}}{% endblock %} {% endcomment %}
{% comment %} {% block head-message %}Everything you need to know about this ticket{% endblock %} {% endcomment %}

{% block title %}Tickets - Details of ticket {{ ticket.id }}{% endblock %}

{% block content %}


      <div class="pt-3 page-header text-center"><h1>Ticket # {{ ticket.id }}</h1>
       
      </div>

<div class="row">
  <div class="col-lg-2 border-right">
    <p class="mt-2 "><span class=" fw-bold"> Warehous: </span> {{ ticket.warehouse }}</p>
    <hr style="height:5px; border:1px;  background-color:Silver">

    <p class="mt-2 "><span class=" fw-bold"> Tag To:</span> {{ ticket.tag_to  }}</p>
    <hr style="height:5px; border:1px;  background-color:Silver"> 

    <p class="mt-2 "><span class=" fw-bold"> Status: </span> {{ ticket.status  }}</p>
    <hr style="height:5px; border:1px;  background-color:Silver"> 

    <p class="mt-2 "><span class=" fw-bold"> Tag : </span> </p>
    <hr style="height:5px; border:1px;  background-color:Silver"> 
  </div>

  <div class="col-lg-1">
    
  </div>
  <div class="col-lg-8">

  <table class="table table-bordered table-hover">
    <tr>
      <td class="description"><b>Status</b></td>
      <td>{{ticket.status}}
        {% comment %} <span class="label label-danger">TODO</span>{% elif ticket.status == "DONE" %}<span class="label label-success">DONE</span>{% elif ticket.status == "WAITING" %}<span class="label label-warning">WAITING</span>{% elif ticket.status == "IN PROGRESS" %}<span class="label label-default">IN PROGRESS</span>{% endif %}</td> {% endcomment %}
    </tr>
    <tr>
      <td class="description"><b>Assigned to</b></td>
      <td>{% if ticket.assigned_to %}{{ ticket.assigned_to.first_name }} {{ ticket.assigned_to.last_name }}{% else %}---{% endif %}</td>
    </tr>
    <tr>
      <td class="description"><b>Created By</b></td>
      <td>{{ ticket.owner }}</td>
    </tr>
    <tr>
      <td width="180px" class="description"><b>Order ID</b></td>
      <td>{{ ticket.order_id }}</td>
    </tr>
    <tr>
      <td width="180px" class="description"><b>Created At</b></td>
      <td> {{ ticket.created }}</td>
    </tr>
    {% if ticket.post_image%}
    <tr>
      <td class=""><b>Attachments</b></td>
      <td> <a href="{{ticket.post_image.url}}" target="_blank"><p>Attched File</p></a></td>
    </tr>
    {% endif %}
    <tr>
      <td class="description"><b>Description</b></td>
      <td>{{ ticket.description}}</td>
    </tr>

  </table>

    </div>
    <hr style="height:5px; border:1px;  background-color:Silver">
    <div class="col-lg-4">


    </div><!-- Ende column -->
</div><!-- Ende row -->

<div class="card-body">
  <div class="comments" style="padding: 10px;">
    {% for comment in comments %}
    {% comment %}  style="background-color:{% cycle 'White' 'Silver' as bgcolor %}" {% endcomment %}
    <div class="text-end">
      <span class="text-end text-muted font-weight-normal" >
          {% if comment.user == user %}
            You Added Comment @  <small > {{ comment.created }}</small>
          {% else %}
            {{ comment.user }}  Added Comment  @  <small > {{ comment.created }}</small>
        </span>
          {% endif %}
      <p class="text-end pt-3 ">
        {{ comment.comment }}
      </p>
      {% if comment.comment_image%}
      <a   href="{{comment.comment_image.url}}" target="_blank"> <p class="text-end ">Attched File</p></a>
      {% endif %}
      <hr style="height:5px; border: 1px;  background-color:Silver">
      
    </div>

    {% endfor %}
  </div>

<div>
    <h3 class="text-center">Add a comment</h3>
    
    <form method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
      {% csrf_token %}
      {{ comment_form | crispy }}
      
      <button type="submit" class="btn btn-primary  btn-lg" name='add_comment'>Submit</button>
    </form>
  </div>

{% endblock %}

